@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 100 700;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v241/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsLjBuVY.woff2) format('woff2');
}


body {
    transition: 200ms;
    background: rgb(var(--md-sys-color-background));
    color: rgb(var(--md-sys-color-on-background));
}

*{
    -webkit-tap-highlight-color: transparent;
}

/*From MDUI*/
:root {
    --md-sys-elevation-level0: none;
    --md-sys-elevation-level1: 0 .5px 1.5px 0 rgba(var(--md-sys-color-shadow), 19%), 0 0 1px 0 rgba(var(--md-sys-color-shadow), 3.9%);
    --md-sys-elevation-level2: 0 .85px 3px 0 rgba(var(--md-sys-color-shadow), 19%), 0 .25px 1px 0 rgba(var(--md-sys-color-shadow), 3.9%);
    --md-sys-elevation-level3: 0 1.25px 5px 0 rgba(var(--md-sys-color-shadow), 19%), 0 .3333px 1.5px 0 rgba(var(--md-sys-color-shadow), 3.9%);
    --md-sys-elevation-level4: 0 1.85px 6.25px 0 rgba(var(--md-sys-color-shadow), 19%), 0 .5px 1.75px 0 rgba(var(--md-sys-color-shadow), 3.9%);
    --md-sys-elevation-level5: 0 2.75px 9px 0 rgba(var(--md-sys-color-shadow), 19%), 0 .25px 3px 0 rgba(var(--md-sys-color-shadow), 3.9%);
    --md-sys-motion-easing-linear: cubic-bezier(0, 0, 1, 1);
    --md-sys-motion-easing-standard: cubic-bezier(.2, 0, 0, 1);
    --md-sys-motion-easing-standard-accelerate: cubic-bezier(.3, 0, 1, 1);
    --md-sys-motion-easing-standard-decelerate: cubic-bezier(0, 0, 0, 1);
    --md-sys-motion-easing-emphasized: var(--md-sys-motion-easing-standard);
    --md-sys-motion-easing-emphasized-accelerate: cubic-bezier(.3, 0, .8, .15);
    --md-sys-motion-easing-emphasized-decelerate: cubic-bezier(.05, .7, .1, 1);
    --md-sys-motion-duration-short1: 50ms;
    --md-sys-motion-duration-short2: .1s;
    --md-sys-motion-duration-short3: .15s;
    --md-sys-motion-duration-short4: .2s;
    --md-sys-motion-duration-medium1: .25s;
    --md-sys-motion-duration-medium2: .3s;
    --md-sys-motion-duration-medium3: .35s;
    --md-sys-motion-duration-medium4: .4s;
    --md-sys-motion-duration-long1: .45s;
    --md-sys-motion-duration-long2: .5s;
    --md-sys-motion-duration-long3: .55s;
    --md-sys-motion-duration-long4: .6s;
    --md-sys-motion-duration-extra-long1: .7s;
    --md-sys-motion-duration-extra-long2: .8s;
    --md-sys-motion-duration-extra-long3: .9s;
    --md-sys-motion-duration-extra-long4: 1s;
}